body {
    color: #5a5a5a;
}


/* Navigation bar */

.navbar {
    background: rgba(0, 0, 0, 0.795) !important;
}

#navlogo {
    height: 30px;
}

.signup {
    text-decoration: none;
    color: white;
}

.signup:hover {
    color: white;
}

.carousel {
    margin-bottom: 4rem;
    text-shadow: black !important;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item h1 {
    font-weight: 600;
}

.one {
    color: rgb(110, 226, 57);
}

.two {
    color: tan;
}