#navlogo {
    height: 30px;
    
}

.signup {
    text-decoration: none;
    color: white;
}

.signup:hover {
    color: white;
}
.navbar{
    background: rgba(0,0,0,0.795) !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .card shadow-sm{
      height: 50px;
      width: 50px;
  }
  .container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
